
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <style>
       body {
            background-color: rgb(133, 135, 137);
        }

        header {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: rgb(255, 255, 255);
            padding: 10px;
        }

        .container {
            padding: 1em;
            display: flex;
            align-items: stretch;
            justify-content: space-around;
        }

        .left {
            height: 300px;
            padding: 14px;
        }

        .right {
            width: 100%;
            height: 100%;
            background-color: aliceblue;
        }

        .left button {
            margin-top: 30px;
            width: 75px;
            border: solid 1px #b0f;
            color: #a802e4;
            background-color: white;
            padding: 7px;
            cursor: pointer;
        }

        .left .btn2 {
            background-color: #a802e4;
            color: aliceblue;
        }

        .form {
            width: 100%;
            height: 800px;
            margin-top: -108px;
        }

        .inputt, .selectt {
            display: flex;
            justify-content: space-around;
            margin: 30px;
            margin-top: 50px;
        }

        .inputt {
            margin-top: 250px;
        }

        input, select {
            width: 25%;
            padding: 10px;
        }

        .bttn {
            display: grid;
            justify-content: center;
            width: 100%;
            padding: 20px;
        }

        .wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #cacaca;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 10px;
            width: 100%;
            max-width: 300px;
            text-align: center;
        }

        .wrap img {
          width: 102%;
    height: 275px;
    object-fit: cover;
            
        }

        .wrap h4 {
            font-size: 18px;
            margin: 10px 0;
        }

        .wrap h5 {
            font-size: 16px;
            margin: 10px 0;
        }

        .list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    </style>
</head>

<body>
    <header>Hello, Admin
        <form method="post" action="/logout" >
            <button type="submit">Logout</button>
        </form>
    </header>
    <div class="container">
        <div class="left">
            <a href="/dashboard"> <button id="home" class="toggle-button" data-target="list">Home</button></a>
            <!-- <button class="btn2 toggle-button" data-target="form">Add Apps</button> -->
        </div>
        <div class="right">
            
            <div class="list">
              <% userupload.forEach(function (app) { %>
                <div class="wrap"> 
                  
                    
                   <span style="color: #5f5f5f;">App Name:</span> <h4> <%= app.name %></h4>
                    <span style="color: #5f5f5f;">Points:</span><h5> <%= app.point%> Points</h5>
                    
                  <!-- <h6>email: <%= app.userEmail %></h6> -->
                  <h6>Link: <a href="<%= app.link %>"><%= app.link %></a></h6>
                  
                  <img src="/<%= app.image.path.replace(/\\/g, '/') %>" alt="<%= app.name %>" style="width: 102%;
                  height: 275px;
                  object-fit: cover;
                  border-radius: 100%;">
                  
                 
               
                 <!-- <h5>By: <%= app.userName %></h5>
                  -->

                  <!-- <button type="submit" style="background-color: #a802e4; color: white; padding: 9px; cursor: pointer;">Approve</button> -->
               
          
                </div>
              <% }) %> 
          </div>
        </div>
    </div>
    <!-- <script src="category.js"></script> -->
    
</body>
</html>
